*{
  margin: 0 auto;
}
#nombreAdriana{
 font-family: 'Montserrat', sans-serif;
 background-color: #2E4172;
 font-size: 40px;
 color:#FFF;
 padding-top: 2%;
 padding-left: 15%;
 padding-bottom: 2%;
 margin-bottom: 3px solid #55AA55;
}

#adrianaPrincipal{
  background-image: url(../img/adriana/adriana-fondo.jpg);
  align-self: center;
}

#fotoAdriana{
  width: 300px;
}
#adriana-imagen{
  position: relative;
  padding: 7% 7% 7% 7%;
  margin-top: 4px 4px 4px 4px  solid #FFF;
  display: inline-block;
}
#descripcion-adriana{
  position: relative;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  width: 350px;
  background-color: #FFF;
  padding: 2% 2% 2% 2%;
}
