#bodyAny{
  font-family: 'Lobster', cursive;
}
#headAny{
  font-family: 'Lobster', cursive;

}
#fotoAny{
  height: 300px;
  width: 300px;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  background-size: 100% auto;
}
#sectionFoto{
  position: relative;
  display: inline-block;
  top:50px;
  left: 150px;
  height: 300px;
  width: 300px;
}
#descripcion{

  position: relative;
  display: inline-block;
  top: -90px;
  left: 300px;
  width: 350px;
  height: 200px;
}
#presentacion{
  font-size: 40px;S
}
#hobbies{
 display: block;
}
#titulo{
  text-align: center;
}
