h1{
  text-align: center;
  font-family: helvetica;
}


}#aboutMeBren{
  position: relative;
}
.myPhotoBren{
  position: absolute;
  left: 15%;
}
.myBioBren{
  position: absolute;
  width: 600px;
  right: 15%;
}
img{
    border-radius: 100%;
    width: 300px;
    height: 300px;
}
#hobbiesBrenda{

  position: relative;
  top: 40%;
  left: 40%;

}

h2{
  width:200px;
}

.theHobbiesBrenda{
  width: 350px;
  display: block;


}
